.sub-menu-wrap {
    position: absolute;
    top: 80%;
    right: 0;
    width: 30%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open {
    max-height: 500px;
    transition: max-height 0.5s;
}

.sub-menu {
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 20px;
    margin: 14px;
    border-radius: 12px;
    transition: var(--tran-05);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
    transition: var(--tran-05);
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    margin: 15px 0 10px;
    transition: var(--tran-05);
}

.sub-menu-item {
    height: 50px;
    display: flex;
    align-items: center;
}

.sub-menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sub-menu-item .icon {
    color: var(--text-color);
    transition: var(--tran-05);
}

.sub-menu-item span {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    transition: var(--tran-05);
}

@media (max-width: 1200px) {
    .sub-menu {
        padding: 15px;
        margin: 12px;
        border-radius: 10px;
        transition: var(--tran-05);
    }

    .user-info h3 {
        margin-left: 15px;
        font-size: 16px;
    }

    .sub-menu-item {
        height: 40px;
    }

    .sub-menu-item .icon {
        min-width: 1.3em;
    }

    .sub-menu-item span {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .sub-menu-wrap.open {
        max-height: 0;
    }
}
