.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .icon.sidebar-toggle {
    margin: 0;
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.top .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .dashboard .top .icon.sidebar-toggle {
        display: none;
    }
}
