body {
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
}

.overlay-content ul {
    list-style-type: none;
}

.overlay-content li {
    margin: 7px;
    padding: 10px;
}

.overlay-content li a {
    color: #fff;
    margin: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
}

.background-image {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("../../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.background-image.close {
    height: 100%;
}
