.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title .icon-bg {
    height: 35px;
    width: 35px;
    border-radius: 6px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-05);
}

.dash-content .title .icon {
    position: relative;
    margin: 0;
    color: var(--title-icon-color);
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 10px;
    transition: var(--tran-05);
}
